body{
    background-color: #F2F2F2;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* .flex-container {
    margin: 10px;
    width:50%;
    height: 200px;
    padding: 10px;
    background-color: #3203a9;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
} */
.flex-container .card1{
    background-color: #E28525;
    border: 5px solid #E28525;
    width:200px;
    height: 350px;
    padding: 15px;
    border-radius: 1px;
    

}
.flex-container .card2{
    
    background-color: #016972;
    border: 5px solid #016972;
    width:200px;
    height: 350px;
    padding: 15px;
    border-radius: 1px;

}
.flex-container .card3{
    
    background-color: #00403F;
    border-radius: 1px;
    width:200px;
    height: 350px;
    padding: 15px;
    border: 5px  solid #00403F;

}

h1{
    color: #F5F5F5;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: 'Big Shoulders Display';

}
p{
    color: #F5F5F5;
    font-size: 12px;
    font-family: 'Lexend Deca';
    font-weight: 400;
    align-items: center;

}
#ad{
    
    margin-top: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr );
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 80px;
    padding-left: 130px;

    background-color: rgb(26,28,40);

  }
  .one {
    grid-column: 1 ;
    grid-row: 1/3;
    background-color: #EB5020;
    width: 400px;
    
  }
  .two {
    grid-column: 2;
    grid-row: 1/3;
    background-color: #FFA401;
    width: 200px;
  }
.three {
    grid-column:1;
    grid-row: 3 / 5;
    background-color: #05AA42;
    width: 300px;
  }
.four {
    grid-column: 2/5;
    grid-row: 3;
    background-color: #01AEFD;
    margin-left: -100px;
    width: 300px;

  }
.five {
    grid-column: 2/3;
    grid-row: 4;
    background-color: #01AEFD;
    margin-left: -100px;
    width: 300px;
  }

 
#btn{
    background-color:transparent;
    border: 2px solid #ffffff;
    height: 40px;
    color: white;
    margin-top: 63px;
    width: 100px;    
    border-radius: 50px;

}
#btn:FOCUS{
    background-color: #ffffff;
    color: #E28525;
    border: 2px solid #fcfcfc;
} 

#btnone{
    background-color:transparent;
    border: 2px solid #ffffff;
    height: 40px;
    color: white;
    margin-top:50px;
    width: 100px;    
    border-radius: 50px;
}
#btnone:focus{
    background-color: #ffffff;
    color: rgb(1,105,114);
    border: 2px solid #fcfcfc;
} 

#btntwo{
    background-color:transparent;
    border: 2px solid #ffffff;
    height: 40px;
    color: white;
    margin-top:35px;
    width: 100px;    
    border-radius: 50px;
}
#btntwo:focus{
    background-color: #ffffff;
    color: rgb(0,64,63);
    border: 2px solid #fcfcfc;
} 
#bt{
    background-color:black;
    border: 2px solid #ffffff;
    height: 40px;
    color: white;
    width: 100px;    
    border-radius: 50px;

}
#hel{
margin-top: -400px;

padding-left: -500px;

}
#ap{
    background-color:black;
    border: 2px solid #ffffff;
    height: 40px;
    width: 100px;    
    margin-top: 100px;
    border-radius: 50px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    text-decoration: none;
    color: blue;


}